@import url('https://fonts,googleapis.com/css2?family=Dancing+Script:wght@400..700Rdisplay=awap');

body{
  background-color:purple
  font-family: "Dancing Script";
  text-align:center;
  font-size: 200%;
}
header{
    color: white;
    text-shadow: 5px 5px 3px yellow;
  }
  section{
    background-color: white;
    width: 300px;
    margin: auto;
    boder-radius: 30 px;
    box-shadow: 5px 5px 3px yellow;
  ]
  foter{
    color: white;
    text-shadow: 5px 5px 3px yellow;
  }
